<div class="flex justify-center items-center h-screen" >
    <div class="container mx-auto  shadow-sm w-1/4 border rounded border-gray-100 p-6">
        <h1 class="font-bold text-center text-3xl">login</h1>
        <hr>
        <form>
            <div class="mt-4">
                <label for="username" class="text-xl">email</label>
                <input type="text" name="username" class="border outline-none w-full p-2 rounded ">
            </div>
            <div class="mt-4">
                <label for="password" class="text-xl">password</label>
                <input type="text" name="password" class="border outline-none w-full p-2 rounded ">
            </div>
            <div class="mt-4">
                <button type="submit" class="text-xl bg-green-400 text-white w-full py-2 rounded">login</button>
            </div>
        </form>
    
    </div>
</div>